div.navbar-fixed
    nav
        div.nav-wrapper
            a(href="./dashboard.html")
                img#logo(src="./assets/logo.png" alt="Logo")
            ul#nav-mobile.right
                li
                    a(href="./student_directory.html") Student Directory
                li
                    a(href="./class_directory.html") Class Directory
                li
                    a(href="./payments_directory.html") Payments Directory