div.navbar-fixed
    nav
        div.nav-wrapper
            a(href="./dashboard.html")
                img#logo(src="./assets/logo.png" alt="Logo")
            ul#nav-mobile.right
                li
                    a(href="./student_directory.html") Student Directory
                li
                    a(href="./correspondence.html") Correspondence
                li
                    a(href="./payments_and_billing.html") Payments and Billing