div.navbar
    nav.orange.lighten-4
        div.nav-wrapper
            a(href="#")
                img#logo(src="./assets/logo.png" alt="Logo")
            ul#nav-mobile.right
                li
                    a(href="#") Student Directory
                li
                    a(href="#") Correspondence
                li
                    a(href="#") Payments and Billing