.navbar{
    // height: $navbar-height !important;
    position: absolute !important;
    width: 100%;
    // top: 0; left: 0;
}

#logo{
    height: 100%;
    padding: .5rem;
}

@keyframes logoSpin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}