extends ../page
block content
    div.container
        div.row.valign-wrapper
            div.col.s8
                img(src="./assets/logo.png" style="width: 75px; margin-bottom: -6px; padding-right: 20px;")
                h1(style="display: inline-block;") Add class
            div.col.s4.right-align
                button.btn#add-class
                    i.material-icons.right add
                    span Add class
                div#error.red-text
        hr
        div.row.valign-wrapper
            div.col.s6.input-field
                input#class_name(type="text")
                label(for="class_name") Name of class
            div.col.offset-s2.s4.right-align
                label Please select a language:
                br
                label
                    input.language#english(type="radio" name="language" option="english" checked)
                    span English
                label
                    input.language#spanish(type="radio" name="language" option="spanish")
                    span Spanish
                label
                    input.language#french(type="radio" name="language" option="french")
                    span French
        div.row.valign-wrapper
            div.col.s12.input-field
                select#attendees(multiple)
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
                label Attendee(s)
        div.row.valign-wrapper
            div.col.s4.input-field
                select#teachers
                    option(value="" disabled selected) Please select
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
                label Teacher
            div.col.s4.input-field
                select#levels
                    option(value="" disabled selected) Please select
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
                label Study level
            div.col.s4.input-field
                input#rate(type="number")
                label(for="rate") Monthly rate
        div.row.center-align
            h2 Scheduling
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="monday")
                    span Monday
            div.col.s4.input-field
                input.time#monday_time(type="text" class="timepicker" day="monday" disabled)
                label(for="monday_time") Start time
            div.col.s4.input-field
                input#monday_duration(type="number" min="15" max="180" disabled)
                label(for="monday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="tuesday")
                    span Tuesday
            div.col.s4.input-field
                input.time#tuesday_time(type="text" class="timepicker" day="tuesday" disabled)
                label(for="tuesday_time") Start time
            div.col.s4.input-field
                input#tuesday_duration(type="number" min="15" max="180" disabled)
                label(for="tuesday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="wednesday")
                    span Wednesday
            div.col.s4.input-field
                input.time#wednesday_time(type="text" class="timepicker" day="wednesday" disabled)
                label(for="wednesday_time") Start time
            div.col.s4.input-field
                input#wednesday_duration(type="number" min="15" max="180" disabled)
                label(for="wednesday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="thursday")
                    span Thursday
            div.col.s4.input-field
                input.time#thursday_time(type="text" class="timepicker" day="thursday" disabled)
                label(for="thursday_time") Start time
            div.col.s4.input-field
                input#thursday_duration(type="number" min="15" max="180" disabled)
                label(for="thursday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="friday")
                    span Friday
            div.col.s4.input-field
                input.time#friday_time(type="text" class="timepicker" day="friday" disabled)
                label(for="friday_time") Start time
            div.col.s4.input-field
                input#friday_duration(type="number" min="15" max="180" disabled)
                label(for="friday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="saturday")
                    span Saturday
            div.col.s4.input-field
                input.time#saturday_time(type="text" class="timepicker" day="saturday" disabled)
                label(for="saturday_time") Start time
            div.col.s4.input-field
                input#saturday_duration(type="number" min="15" max="180" disabled)
                label(for="saturday_duration") Duration
            div.col.s1
        div.row.valign-wrapper
            div.col.s2.offset-s1
                label
                    input.day(type="checkbox" day="sunday")
                    span Sunday
            div.col.s4.input-field
                input.time#sunday_time(type="text" class="timepicker" day="sunday" disabled)
                label(for="sunday_time") Start time
            div.col.s4.input-field
                input#sunday_duration(type="number" min="15" max="180" disabled)
                label(for="sunday_duration") Duration
            div.col.s1



block scripts
    script.
        var path = require('path')
        const populateAttendees = require(path.join(__dirname, '../libs/init/populateAttendees'));
        const populateTeachers = require(path.join(__dirname, '../libs/init/populateTeachers'));
        const populateLevels = require(path.join(__dirname, '../libs/init/populateLevels'));

        populateAttendees().then(populateTeachers).then(populateLevels).then(()=>{
            require(path.join(__dirname, '../libs/init/selectInit'));
        });

        require(path.join(__dirname, '../libs/init/addClass'))

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.timepicker');
            var instances = M.Timepicker.init(elems, {
                twelveHour: false
            });
        });

        require(path.join(__dirname, '../libs/init/schedulingListener'))

      
                

            



