extends ../page
block nav
    include ../includes/nav
block content
    //- div
    div.content.center-align.studentdirectory
        h1.studentdirectory--heading.heading Student Directory
        div.studentdirectory--mainmenu
            button.studentdirectory--mainmenu__btn.btn-small.waves-effect#student_add
                i.studentdirectory--mainmenu__btn-icon.material-icons.left add 
                span.studentdirectory--mainmenu__btn-text Add new student
            include ../includes/filters
        table.highlight.studentdirectory--table
            thead
                tr
                    th First name(s)
                    th Second name
                    th Age
                    th
                        i.material-icons info
                    th
                        i.material-icons#group-email email
                    th
                        i.material-icons phone
                    th
                        i.material-icons edit
                    th
                        i.material-icons#group-delete delete
                    th
                        label
                            input.filled-in#check-all(type="checkbox")
                            span Select
            tbody
block scripts
    script(src="../libs/init/student_directory.js")
        
        