include ../includes/header
include ../includes/nav
div.valign-wrapper.box
    div.content.center-align
        img#logo-big(src="./assets/logo.png")
        h4.heading#heading-dashboard Welcome!
        p#msg-logged-in You have successfully logged in.
        div#date-and-time
            div#date-and-time--clock
            div#date-and-time--date
script(src="../libs/clock.js")
