include ../includes/header
include ../includes/nav
div#menu-student
    button.btn#btn-add-student Add student
    button.btn#btn-edit-student Edit student
    button.btn#btn-delete-student Delete student
div#menu-teacher
    button.btn#btn-add-teacher Add teacher
    button.btn#btn-edit-teacher Edit teacher
    button.btn#btn-delete-teacher Delete teacher
div#menu-contact
    button.btn#btn-email Send email(s)
    button.btn#btn-e-invoice Send e-invoice(s)
    button.btn#btn-print-invoice Print invoice(s)
    button.btn#btn-print-letter Print letter(s)
div.student-list
    div.student-list--top
        input#check-all(type="checkbox")
        span.student-list--top__text Name
    div.student-list--entry
        input#check-bates.checkbox(type="checkbox")
        span.student-list--entry__name Simon Bates

script(src="../libs/index.js")